:root {
    --spacing: 3rem;
    --color: #121212;
    --button-transition: all 0.5s ease;
    --shadow: 0.3rem 0.3rem 1rem 0 rgba(18, 18, 18, 0.2);
    --shadow-hover: 0.3rem 0.3rem 1rem 0 rgba(18, 18, 18, 0.3);
    --bg-base: aquamarine;
    --text-decor: line-through;
}
body {
    font-family: 'Roboto', sans-serif;
    padding: var(--spacing);
    color: var(--color);
    margin: 0;
}
hr {
    opacity: 0.5;
    background: var(--color);
    margin: 0 0 var(--spacing) 0;
}
.button {
    background-color: var(--color);
    border-radius: 0.5rem;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 3rem;
    mix-blend-mode: overlay;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing);
}
.header h1 {
    margin: 0;
    font-size: 6rem;
}
.header .header__add {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 50%;
    border: 0;
    color: white;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    background-color: #86acff;

    -webkit-transition: var(--button-transition);
    -moz-transition: var(--button-transition);
    -ms-transition: var(--button-transition);
    -o-transition: var(--button-transition);
    transition: var(--button-transition);
}
.header .header__add:hover {
    background-color: #4667fc;
}
.header .header__add:active {
    border: 0;
}

.tasks {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: var(--spacing);
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
.task {
    height: 15rem;
    background: var(--bg-base);
    padding: var(--spacing);
    border-radius: 1.5rem;

    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

    -webkit-transition: var(--button-transition);
    -moz-transition: var(--button-transition);
    -ms-transition: var(--button-transition);
    -o-transition: var(--button-transition);
    transition: var(--button-transition);
}
.task:hover {
    -webkit-box-shadow: var(--shadow-hover);
    -moz-box-shadow: var(--shadow-hover);
    box-shadow: var(--shadow-hover);
}
.task .task__title {
    text-decoration: var(--text-decor);
    opacity: 0.8;
    font-size: 1.5rem;
}
.task .task__description {
    text-decoration: var(--text-decor);
    opacity: 0.6;
    font-size: 1.3rem;
}
.task .task__buttons {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.task input[type='checkbox'] {
    position: relative;
    cursor: pointer;
}
.task input[type='checkbox']:before {
    content: '';
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    background-color: #e9e9e9;
    border-radius: 0.5rem;
    position: absolute;
    top: -2.3rem;
    left: -2rem;

    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}
.task input[type='checkbox']:checked:before {
    content: '';
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    background-color: #3bb63b;
    border-radius: 0.5rem;
    position: absolute;
    top: -2.3rem;
    left: -2rem;

    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}
.task input[type='checkbox']:checked:after {
    content: '';
    display: block;
    width: 1rem;
    height: 2rem;
    border: solid white;
    border-width: 0 0.1rem 0.1rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -2rem;
    left: -1rem;
}
.task .task__state:hover {
    background-color: #77dd77;
    mix-blend-mode: unset;
}

.task .task__delete {
    left: var(--spacing);
    bottom: var(--spacing);
    font-size: 2rem;
    padding: 0.4rem 3rem;
    background-color: #ff8c86;
    mix-blend-mode: unset;

    -webkit-transition: var(--button-transition);
    -moz-transition: var(--button-transition);
    -ms-transition: var(--button-transition);
    -o-transition: var(--button-transition);
    transition: var(--button-transition);
}
.task .task__delete:hover {
    background-color: #ff6961;
}

@media screen and (max-width: 1400px) {
    .header h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --spacing: 2rem;
    }
    .button {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
    .header h1 {
        font-size: 2rem;
    }
    .header .header__add {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 2rem;
    }
    .tasks .task {
        height: 13rem;
    }
    .tasks .task__title {
        font-size: 1.2rem;
    }
    .tasks .task__description {
        font-size: 1rem;
    }
    .tasks .task .task__buttons .task__delete {
        font-size: 1.6rem;
        padding: 0.5rem 2rem;
    }
}
